# ignore build artifacts
build/
dist/
src/*.egg-info/
tutorials/lumir25_SITReg/
src/MIR/models/SITReg/
src/MIR/models/fireants/
tutorials/IPEN_registration/
# Ignore any folder named "experiments" or "logs" anywhere in the repo
**/experiments/
**/logs/
**/atlas/
**/__pycache__/

# Ignore compiled Python artifacts everywhere
*.py[cod]
*.$py.class

tutorials/PSMA_atlas_building/
tutorials/PSMA_atlas_building_MultiMorph/

# git rm --cached -r . removing all cached files before git add .